#div1 {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .one-sdv {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  .wishlis {
    text-decoration: none;
  }
  #ul1 {
    margin-top: 5px;
  }
  
  #ul2 {
    margin-right: 120px;
    margin-left: 140px;
    margin-top: 5px;
  }
  
  #div1 > ul li a {
    color: #000000;
    margin-left: 30px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(224, 195, 195);
  }
  
  /* TopNavBar 2 */
  #logo {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: -10px;
    width: 100px;
    height: 50px;
  }
  
  #div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 43px;
    margin: 30px;
    letter-spacing: 1px;
    color: rgb(24, 24, 24);
  }
  
  .ulnav {
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #topnav2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  .top > li {
    padding: 16px 20px;
    color: #181818;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
  }
  #div2 > ul > li :hover {
    color: #000000;
  }
  
  #topnav2 {
    margin-right: 280px;
  }
  .icn-1 {
    margin-left: 80px;
    width: 10px;
    cursor: pointer;
  }
  
  .icn-2 {
    cursor: pointer;
  }
  #slide-img {
    width: 100.5%;
    height: auto;
    margin-top: -20px;
  }
  div > img > #auto-change {
    max-width: 100%;
    height: auto;
  }
  #auto1 {
    margin-bottom: 100px;
  }
  
  .ancr {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
    color: #181818;
  }
  #shop {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    text-transform: capitalize;
    opacity: 0.8;
    text-align: center;
    padding: 20px 20px;
  }
  
  .exlus {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    cursor: pointer;
  }
  
  #heading1 {
    text-align: center;
    height: 30px;
  }
  
  .fimg {
    padding: 10px;
  }
  .simg {
    padding: 10px;
  }
  .timg {
    padding: 10px;
    padding-bottom: 20px;
  }
  .banner {
    display: flex;
    float: right;
  }
  
  .mid-btn {
    /* border: 6px solid red; */
    width: 50%;
    margin-left: 19%;
    margin-top: 4%;
  }
  .mid-btn > p {
    text-align: center;
    font-size: 20px;
    color: white;
  }
  
  /* banner img */
  
  .rivaah {
    height: 400px;
  }
  #riva {
    width: 20%;
    margin-top: 5%;
    margin-left: 63%;
  }
  .mid {
    width: 71%;
    margin-left: 21%;
  }
  
  #mid-para {
    text-align: center;
    margin-left: 52%;
    margin-top: -1%;
    font-weight: inherit;
    margin-right: 6%;
    line-height: 150%;
    font-family: sans-serif;
  }
  .arrange-btn {
    margin-left: 710px;
    margin-top: 20px;
  }
  .btn-bg {
    width: 260px;
    height: 50px;
    color: white;
    background-color: #000000;
    border: 1px solid #181818;
    cursor: pointer;
  }
  .bg1 {
    background-color: #efc3cb;
    color: black;
    border: 1px solid #181818;
    cursor: pointer;
  }
  /* reseting inline part from index */
  
  #imgfr1 {
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
  }
  #eardiv {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  #ech1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }
  
  #newdiv {
    justify-content: center;
    margin-left: 120px;
  }
  
  /* span {
  color:red;
  font-weight:700
  } */
  
  .three-el {
    background-color: #f2f0e8;
    /*  height: 35vh;
      width: 100%; */
    height: auto;
    /* margin-top: 2000px;  */
    /*  display: inline-block; */
  }
  
  .top-footer {
    background-color: #b0a16e;
    /*  height: 110vh; */
    width: 100%;
    margin: auto;
    /* border: 7px solid red; */
  }
  .three-el {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    height: 180px;
    justify-content: center;
    align-items: center;
  }
  .one-el {
    padding: 20px;
    font-family: "playfair display";
    font-weight: 400;
  }
  .one el > h3 {
    font-family: "playfair display";
  }
  .one-el > p {
    font-family: "playfair display";
    font-weight: 400;
  }
  #ftr {
    margin-top: 50px;
  }
  
  /* footer */
  .in-foot {
    display: block;
    text-align: center;
    color: #ffffff;
    align-items: center;
    /* border: 6px solid blue; */
  }
  .ft-tg {
    text-align: center;
  }
  .class-btn1 {
    height: 55px;
    width: 25%;
    margin-right: 10%;
    background-color: #b0a16e;
    border: 1px solid white;
    color: white;
  }
  
  #line {
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .foot-cont {
    display: flex;
    gap: 9%;
    margin-top: 60px;
    color: white;
    font-family: "playfair display";
    width: 100%;
    /* border: 7px solid blue; */
    display: flex;
  }
  #ft-head {
    font-size: 20px;
    font-weight: 400;
  }
  
  .first-items {
    width: 20%;
    margin-left: 8%;
    /* border: 4px solid yellow; */
  }
  .second-items {
    width: 20%;
    /* border: 4px solid grey; */
  }
  .third-items {
    width: 35%;
  }
  .first-items > ul > li,
  .second-items > ul > li,
  .third-items > ul > li {
    list-style-type: none;
    text-decoration: none;
    /* margin-left: 750px; */
    /* border: 3px solid red; */
  }
  
  ul > .ft-itms {
    margin-bottom: 50px;
    margin-left: 20px;
  
    /* line-height: 50px; */
    font-weight: bold;
  }
  #ft-mail {
    width: 300px;
    height: 52px;
    border: 1px solid white;
    color: white;
    background-color: #b0a16e;
  }
  .btn-cls {
    display: flex;
  }
  #t-btn {
    width: 100px;
    height: 56px;
    border: 1px solid white;
    background-color: white;
    color: #b0a16e;
  }
  #follo {
    margin-top: 21px;
  }
  
  .socialmedia {
    display: flex;
  }
  
  #faicon {
    padding: 1%;
    margin-left: 10px;
  }
  
  #app {
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  #termscon {
    display: flex;
    font-size: 13px;
    gap: 5%;
  }
  
  #copyright {
    display: flex;
    font-size: 13px;
    margin-top: 20px;
  
    padding: 5px;
  }
  #copy {
    padding: 2px;
  }
  
  .last {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    /* margin: -20px; */
    background-color: rgb(176, 161, 110);
    color: rgb(176, 161, 110);
    /* border: 6px solid yellow; */
    width: 90%;
    margin: auto;
  }
  
  #width {
    width: 60px;
    height: 40px;
    background-color: #b0a16e;
    color: #b0a16e;
  }
  
  .same2 {
    height: 10px;
  }
  .width2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  /* Terms and conditions */
  .tandc {
    color: white;
  }
  .tandc:hover {
    color: black;
  }
  
  #im-app:hover {
    color: pink;
  }
  
  .pt-tg {
    font-family: "playfair display";
    font-size: 18px;
    padding: 3%;
    width: 70%;
    text-align: center;
    margin: auto;
  }
  placeholder {
    color: white;
  }
  #divforset {
    display: flex;
    width: 70%;
    margin: auto;
    /* border: 2px solid black; */
    justify-content: center;
  }
  #ft-city1 {
    margin-right: 0% !important;
    width: 25%;
    height: 53px;
    border: 1px solid white;
    color: white;
    background-color: #b0a16e;
  }
  
  #t-btn1 {
    margin-left: 0% !important;
    border: 1px solid white;
    background-color: white;
    color: #b0a16e;
    margin-right: 80px;
    width: 10%;
    height: 57px;
  }
  
  #faicon:hover {
    color: #ccc;
  }
  
  /* Dropdown */
  .navbar {
    overflow: hidden;
  }
  
  /* .navbar a {
      
  } */
  
  .dropdown {
    display: right;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: #181818;
  
    padding: 14px 14px;
    font-size: 12px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  .dropbtn {
    font-size: 12px;
    word-spacing: 5px;
    color: #181818;
    opacity: 0.8;
  }
  .dropbtn:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content .header {
    /* background: #f9f9f9; */
    padding-bottom: 20px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    text-decoration: underline;
  }
  
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #fafafa;
    height: 450px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 12px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .column a:hover {
    color: #181818;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #shop-cont {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    opacity: 0.8;
    font-family: "playfair display";
  }
  
  .container > section {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .slide {
    margin: 0px 10px 0px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .imgchange {
    width: 110px;
  }
  
  #miaa img{
    width:100%;
  }
  .buyingjewel{
    display: flex;
    gap: 1.2em;
    margin-left: 240px;
  }
  .textbuying{
    margin-left: 460px;
  }
  #footer_layout{
  width: 100%;
  background-color: #b1a16e;
  }
  #terms_grid a {
  text-decoration: none;
  color: white;
  }
  #footer-grid{
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 400px;
  margin-left: 10%;
  }
  #unordered1{
  list-style-type: none;
  color: white;
  }
  #unordered1 li:nth-child(1) {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  font-weight:400;
  }
  #unordered1 li:nth-child(3), #unordered1 li:nth-child(4), #unordered1 li:nth-child(5), #unordered1 li:nth-child(6), #unordered1 li:nth-child(7), #unordered1 li:nth-child(8), #unordered1 li:nth-child(9), #unordered1 li:nth-child(10){
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight:600;
  letter-spacing:1.92px;
  line-height: 25px;
  }
  #unordered2{
  list-style-type: none;
  color: white;
  }
  #unordered2 li:nth-child(1) {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  font-weight:400;
  }
  #unordered2 li:nth-child(3), #unordered2 li:nth-child(4), #unordered2 li:nth-child(5){
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight:600;
  letter-spacing:1.92px;
  line-height: 35px;
  }
  
  #subscribe_input{
  width: 70%;
  height: 42px;
  border: 1px solid white;
  }
  #subscribe_head {
  font-family: "Playfair Display";
  font-size: 18px;
  color: white;
  }
  #subscribe_input input{
  width: 70%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #b1a16e;
  color: white;
  }
  #subscribe_input input::placeholder{
  color: white;
  }
  #subscribe_input button{
  width: 28.5%;
  height: 40px;
  border: none;
  background-color: white;
  color: #b1a16e;
  }
  #social{
  display: flex;
  background-color: #b1a16e;
  }
  #face, #twit, #insta{
  width: 65px;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
  }
  #stores{
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 40px;
  }
  #stores img{
  width: 100%;
  }
  #handles{
  height: 110px;
  border-bottom: 1px solid white;
  }
  #terms_condi{
  margin-left: 65%;
  width: 30%;
  height: 80px;
  
  /* border: 1px solid green; */
  }
  #terms_grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13px;
  }
  #terms_grid a{
  list-style-type: none;
  font-size: 10px;
  color: white;
  font-weight: 500;
  font-family: 'Raleway';
  text-decoration: none;
  }
  #terms_condi div:nth-child(2){
  font-size: 11px;
  font-weight: 500;
  color: white;
  font-family: 'Raleway';
  }
  
  
  /* find store */
  #find_store{
  width: 100%;
  margin: auto;
  height: 250px;
  border-bottom: 1px solid white;
  }
  #find_store h2{
  text-align: center;
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-size: 28px;
  font-weight: 400;
  }
  #find_store p{
  color: white;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 32px;
  }
  #enquiry{
  display: grid;
  margin-left: 25%;
  grid-template-columns: 25% 20% 55%;
  grid-template-rows: 45px;
  
  }
  #enquiry p{
  color: white;
  font-size: 18px;
  font-family: "Playfair Display";
  font-weight: 400;
  }
  #location{
  width: 100%;
  height: 50px;
  background-color: #b1a16e;
  color: white;
  border: none;
  border: 1px solid white;
  }
  #city_div{
  width: 50%;
  height: 45px;
  border: 1px solid white;
  }
  #city_div input{
  width: 70%;
  height: 42px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #b1a16e;
  color: white;
  }
  #city_div input::placeholder{
  color: white;
  font-size: 13px;
  }
  #city_div button{
  width: 28.5%;
  height: 42px;
  border: none;
  background-color: white;
  color: #b1a16e;
  font-size: 13px;
  }
  
  
  #last_div{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 100px;
  gap: 20px;
  background-color: #f3f0e9;
  text-align: center;
  /* border: 1px solid black; */
  margin-top: 30px;
  margin-bottom:-20px;
  margin-left:-90px;
  margin-right:-90px;
  }
  
  #new_text{
    font-size: 38px;
    font-family: "Playfair Display", sans-serif;
    font-weight:400;
    text-align: center;
     /* line-height: -50px;  */
     margin-top:80px;
  }
  #utsaah_vid{
    margin-left: 200px;
    
    /* border: 4px solid black; */
  }
  
  
  .sbctext h2{
    text-align: center;
    font-size: 30px;
  }
  
  #sbcImage{
    margin-left: 220px;
  }
  
  
  
  /* svg */
  
  .shopbygender{
    display: flex;
  }
  .shopbygender>div{
    margin-right: 3px;
  /* border: 1px solid green; */
  }
  
  .shopbygender p{
   text-align: center;
  }
  .sub img{
  width: 500px;
  height: 400px;
  } 
  
  .shopbygendertext h2{
  text-align: center;
  } 
  .sub p{
  margin: 10px auto 20px;
  color: #000;
  letter-spacing: 1px;
  font-size: 14px;
  }
  /* svg */
  
  
  /* color by me tanisq */
  
  #shop_img{
    display: grid;
    grid-template-columns: 63% 36%;
    grid-template-rows: 400px;
    gap: 10px;
  }
  #left img{
    width: 100%;
    /* height: 100%; */
  }
  #right{
    display: grid; 
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    gap: 10px; 
    /* border: 2px solid black; */
  }
  #right img{
    width: 100%;
    height: 100%;
  }
  
  /* color by me */
  
  
  /* youtube */
  video {
    pointer-events: none;
  }
  
  /* new for you */
  #new_layout{
    width: 88%;
    margin: auto;
  }
  #new_text{
    font-size: 38px;
    font-family: "Playfair Display", sans-serif;
    font-weight:400;
    text-align: center;
     /* line-height: -50px;  */
  }
   #new_div{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 350px;
    gap: 20px;
    /* /* border: 1px solid black;  */
   }
   #new_div img{
    width: 100%;
    height: 100%;
    margin-left: 50px;
  } 
  
  /* connect */
  
  .connectwithus h2{
    text-align: center;
  }
  .whatsapp {
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 180px;
    
  
  }
  .whatsapp img{
    margin-right: 30px;
  }
  
  /* connect */
  
  
  body {
    font-family: "Playfair Display",sans-serif;
    color: #000;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    position: initial;
  }